<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhodc0fEKyBfWBQO-7ZGaDUedktJu2tfo</string>
	<key>GCM_SENDER_ID</key>
	<string>325464902442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.poseDetector</string>
	<key>PROJECT_ID</key>
	<string>machine-f12cf</string>
	<key>STORAGE_BUCKET</key>
	<string>machine-f12cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325464902442:ios:10c7480af9fdd5efb3ac53</string>
	<key>DATABASE_URL</key>
	<string>https://machine-f12cf-default-rtdb.firebaseio.com</string>
</dict>
</plist>